:root{
    --bg-color-dark: rgb(24, 2, 32);
    --txt-color-dark: white;
    --bg-color-brightness: #e6d2ff;
    --txt-color-brightness: #1D053A;
}
@keyframes pulseBright {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0,0,0,0.7);
    }

    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 15px rgba(0,0,0,0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes pulseDark {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(1);
    }
}
body.dark{
    background-color: var(--bg-color-dark);
    color: var(--txt-color-dark);
    transition: 0.5s;
}
body{
    background-color: var(--bg-color-brightness);
    color: var(--txt-color-brightness);
    transition: 0.5s;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35vh;
}
.bi{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
}
.btn1{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: hidden;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 30px;
    transition: 0.5s;
    
}
.btn1:hover{
    animation: pulseBright 2s infinite;
}
body.dark .btn1{
    background-color: white;
    color: black;
    transition: 0.5s;
}
body.dark .btn1:hover{
    animation: pulseDark 2s infinite;
}